@import '../../styles/_functions.scss';

.container {
  width: 100%;
  height: pxtorem(440px);
  background: linear-gradient(
    112.18deg,
    rgba(185, 213, 253, 0.475) 0.18%,
    rgba(185, 213, 253, 0.25) 94.9%
  );
  padding: pxtorem(40px) pxtorem(90px);
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    padding: pxtorem(16px);
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      align-items: center;
    }
    h2 {
      display: flex;
      justify-content: center;
      font-family: 'Cinzel Decorative';
      font-size: pxtorem(32px);
      line-height: pxtorem(43.14px);
      font-weight: 700;
      color: var(--blue-solid);

      @media screen and (max-width: 768px) {
        text-align: center;
        font-size: pxtorem(20px);
        line-height: pxtorem(32.35px);
        justify-content: center;
        margin: 0 pxtorem(5px);
      }

      img {
        margin: 0 pxtorem(5px) pxtorem(30px);

        @media screen and (max-width: 768px) {
          margin: 0 pxtorem(1px) pxtorem(30px);
          width: pxtorem(15px);
        }
      }
    }

    h3 {
      margin-top: pxtorem(24px);
      font-family: 'Raleway';
      font-size: pxtorem(24px);
      line-height: pxtorem(32px);
      font-weight: 700;
      color: var(--blue-solid);

      @media screen and (max-width: 768px) {
        font-size: pxtorem(20px);
        line-height: pxtorem(32px);
        text-align: center;
      }
    }

    ul {
      margin-top: pxtorem(16px);
      margin-left: pxtorem(18px);
      li {
        font-family: 'Raleway';
        font-size: pxtorem(20px);
        line-height: pxtorem(32px);
        font-weight: 600;
        color: var(--blue-solid);

        @media screen and (max-width: 768px) {
          font-size: pxtorem(16px);
        }
      }
    }
  }
  .beach {
    width: pxtorem(550px);
    border-radius: pxtorem(10px);

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: pxtorem(20px);
    }
  }
}
