.container {
    width: 100%;
    height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1366px) {
        height: calc(100vh - 3rem);
        
    }

    @media screen and (max-width: 600px) {
        height: calc(100vh - 2.5rem);
    }
}