.container {
    padding: 0.3rem;
    font-family: Lexend;
    border: 1px solid var(--input-border);
    border-radius: 8px;
    color: var(--blue-500);
    background-color: var(--input);
    font-weight: 500;
    outline: none;
}